<!DOCTYPE html>
<html lang="el">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title></title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- jQuery first,then Bootstrap JS,then main.js -->
    <script src="js/jquery-3.1.1.min.js"</script>
    <script src="js/bootstrap.min.js"</script>
    <script src="js/main.js"</script>
  </body>
</html>